*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald';
}
@font-face{
    font-family: 'Oswald';
    src: url('../_fonts/Oswald/Oswald-VariableFont_wght.ttf');
}
html, body{
    height: 100%;
    /*background-color: #ed3237;*/
}
.clear{
    clear:both;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
/********CABEÇALHO*************/
header{
    background-color: #252525;
}
header div.logo{
    float: left;
    margin: 20px 2% 10px 2%;
}
header nav.desktop{
    float: right;
    position: relative;
    top: 50px;
}
header nav.mobile{
    display: none;
    float: right;
    width: 50px;
    height: 50px;
    margin: 40px 10px 0 0;
    background-image: url('../_imgs/icone/menu-mobile.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
header nav.mobile ul{
    width: 100%;
    position: absolute;
    top: 130px;
    left: 0;
    text-align: center;
    list-style: none;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    background-color: white;
    z-index: 999;
}
header nav.mobile ul li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
}
header nav.mobile ul li a{
    text-decoration: none;
    color: black;
}
header nav.mobile ul li:hover{
    background-color: rgba(187, 181, 181, 0.507);
}

header nav.desktop ul{
    list-style: none;
}
header nav.desktop ul li{
    float: left;
    font-size: 18px;
    padding: 0 30px;
    font-style: italic;
}
header nav.desktop ul li a{
    text-decoration: none;
    color: white;
}
header nav.desktop ul li a:hover{
    color: #ed3237;
}
/********SESSAO 1 BANNER******/
section.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('../_imgs/carro-wallpaper02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.banner .text-banner{
    padding: 100px;
}
section.banner .text-banner .text-banner-single{
    width: 300px;
    height: 80px;
    padding: 10px 70px;
    color: white;
    font-size: 30px;
    font-style: italic;
    background-image: url(../_imgs/box-text-01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section.banner .text-banner .text-banner-single:nth-of-type(4){
    width: 350px;
    height: 70px;
    position: relative;
    left: 40px;
    padding: 10px 50px;
    background-image: url('../_imgs/text-email.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
}
/***********SESSAO 2 VEICULOS DESTAQUES********************/
section.veiculos-destaques, section.contato, section.vendas, section.sobre{
    padding: 90px 2%;
}
section.veiculos-destaques .line-titulo, section.contato .line-titulo, section.vendas .line-titulo, .venda-single .line-titulo, section.sobre .line-titulo{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
section.veiculos-destaques .ln1, section.contato .ln1, section.vendas .ln1, .venda-single .ln1, section.sobre .ln1{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
    top: 20px;
}
section.veiculos-destaques .line-titulo h2, section.contato .line-titulo  h2, section.vendas .line-titulo h2, .venda-single h2, section.sobre h2{
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
}

section.veiculos-destaques .container{
    max-width: 1000px;
    padding: 40px 0;
}
.vitrine-destaque{
    float: left;
    width: 33.3%;
}
.carro-img1{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro1.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
.carro-img2{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro3.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
 .carro-img3{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro4.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
 .carro-img4{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro5.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
 .carro-img5{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro6.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
 .carro-img6{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro7.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
 .carro-img7{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro8.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
 .carro-img8{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro11.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}
 .carro-img9{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro10.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}

/*.vitrine-destaque .carro-img{
    width:100%;
    padding-top: 100%;
    background-image: url('../_imgs/carros/carro3.jpg');
    background-size: 100% 100%;
    border: 8px solid white;
}*/
.vitrine-destaque .info-carro h2{
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px; 
}
.vitrine-destaque .info-carro p{
    padding-left: 8px;
    padding-top: 8px;
    color: #353535;
    font-style: italic;
    font-size: 15px;
}
.vitrine-destaque .info-carro a, .btn1{
    display: block;
    margin-left: 8px;
    margin-top: 10px;
    color: white;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    line-height: 40px;
    background-color: #EB2D2D;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 4px solid #B21E1E; 
}
/***********SESSAO 3**********/
section.servicos-descricao{
    display: flex;
    width: 100%;
    height: auto;
}
section.servicos-descricao .half1{
    width: 50%;
    padding: 90px 2%;
    text-align: center;
    color: white;
    background-color: #242424;
}
Section.servicos-descricao .half1 .half1-wraper{
    display: inline-block;
    text-align: left;
}
section.servicos-descricao .half1 .half1-wraper h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}
section.servicos-descricao .half1 .half1-wraper ul{
    display: inline-block;
    margin-top: 10px;
    list-style: inside;
}
section.servicos-descricao .half1 .half1-wraper a{
    float:right;
    margin-top: 85px;
    margin-left: 30px;
    
}
section.servicos-descricao .half2{
    width: 50%;
    padding: 90px 60px;
    color: white;
    background-color: #EB2D2D;
}
section.servicos-descricao .half2 h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}
section.servicos-descricao .half2 .depoimento-single{
    margin-top: 19px;
}
section.servicos-descricao .half2 .depoimento-single p{
    font-size: 21px;
}   
.half2 .depoimento-single .navigation {
    float: left;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}
.half2 .depoimento-single .navigation .setas{
    float: left;
}
.half2 .depoimento-single .navigation img{
    width: 24px;
    height: 24px;
    margin-right: 30px;
    cursor: pointer;
}
.half2 .depoimento-single .nome-depoimento {
    float: right;
    margin-top: -5px;   
}
.half2 .depoimento-single .nome-depoimento p{
    color: white;
    font-style: italic;
}
/**************SESSAO 4********************/
section.contato{
    padding: 80px 2% 0 2%;
}
section.contato form{
    max-width: 600px;
    margin: 50px auto;

}
section.contato .input-wraper {
    float: left;
    padding: 10px;
}
section.contato .input-wraper input[type=text], .input-wraper input[type=email]{
    width: 100%;
    border: 1px solid #ccc;
    height: 60px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 16px;
}
section.contato form .input-wraper textarea{
    width: 100%;
    height: 140px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 8px;
    resize: none;
}
section.contato .input-wraper input[type=submit]{
    display: inline-block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    width: 30%;
}
section.contato .input-wraper:nth-of-type(5){
    text-align: center;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
/***************SESSAO 5**************/
.border-header{
    border-bottom: 3px solid #ed3237;
}
section.vendas{
    min-height: 90%;
}

section.vendas .line-titulo, .venda-single .line-titulo, .veiculos-destaques .line-titulo, .contato .line-titulo, section.sobre .line-titulo{
    max-width: 1400px !important;
}
section.vendas .content-vendas{
    margin-top: 40px;
}
.sidebar{
    float: left;
    width: 20%;

}
.search1 h2 {
    font-size: 24px;
    color: black;
    font-weight: normal;
}
.search1 .barra-preco{
    width: 100%;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 20px;
    position: relative;
}
.search1 .barra-preco .barra-preco-fill{
    position: absolute;
    left:0;
    top: 0;
    width: 30%;
    height: 19px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
}
.search1 .barra-preco .pointer-barra{
    width: 26px;
    height: 26px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
    border: 1px solid #777;
    border-radius: 8px;
    position: absolute;
    left: calc(30% - 13px);
    top: -3px;
    cursor:pointer;
}
.valor-pesquisa{
    margin-top: 8px;
}
.valor-pesquisa p{
    color: black;
    font-size: 15px;
}
.valor-pesquisa p:nth-of-type(1){
    float: left;
}
.valor-pesquisa p:nth-of-type(2){
    float: right;
}
.search2{
    margin-top: 40px;
}
.search2 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}
.form-venda-wraper {
    margin-top: 5px;
}
.form-venda-wraper input[type=checkbox]{
    display: none;
}
.form-venda-wraper label{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border:1px solid #ccc;
    border-radius: 5px;
    vertical-align: top;
    cursor: pointer;
}
.form-venda-wraper .circle{
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: black;
    position: absolute;
    top: 6px;
    left: 6px;
}
.form-venda-wraper input[type=checkbox]:checked + label > .circle{
    display: block;
}
.form-venda-wraper span{
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}
/*********PÁGINA VEICULO-TESTE**********/
.vitrine-venda{
    float: right;
    width: 70%;
}
.vitrine-venda .vitrine-destaque{
    margin-top: 20px;
}
section.venda-single{
    padding: 50px 2% 0 2%;
}
.info-bread {
    text-align: left;
}
.info-bread a{
    text-decoration: none;
    color: black;
}
.info-bread a:last-child{
    color: red;
}
.info-bread span{
    padding: 0 15px;
}
.info-veiculo{
    display: inline-block;
    width: 60%;
}
.descricao-veiculo{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-top: 50px;
    text-align: left;
}
.descricao-veiculo h2{
    position: relative;
    display: inline-block;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    padding: 0 !important;
}
.descricao-veiculo h2:nth-of-type(2){
    font-size: 20px;
}
.descricao-veiculo p{
    max-width: 460px;
    font-size: 17px;
    margin: 25px 0;
}
.descricao-veiculo a {
    width: 30%;
}
.foto-destaque{
    width: 100%;
    padding-top: 60%;
    margin-top:20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-galeria-parent{
    width: 100%;
    padding: 36px;
    position: relative;
}
.nav-galeria {
    width: 100%;
    overflow: hidden;
}
.nav-galeria-wraper{
    width: 200%;
}
/*SETAS*/
.nav-galeria-parent .arrow-left-nav{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    cursor: pointer;
    background-image: url('../_imgs/icone/seta-esquerda-02.png');
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
}
.nav-galeria-parent .arrow-right-nav{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    cursor: pointer;
    background-image: url('../_imgs/icone/seta-direita-02.png');
    background-size: 100% 100%;
    width: 22px;
    height: 22px; 
}
.mini-img{
    float: left;
    width: calc(33.3% * (100 / 200));
    padding-top: calc(33.3% * (30 / 100));
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*******************SOBRE****************/
section.sobre{
    min-height: 90%;
}
section.sobre .container{
    max-width: 840px;
    margin-top: 30px;
}
section.sobre .img-destaque-sobre{
    width: 100%;
    padding-top: 60%;
    background-image: url('../_imgs/galpao2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
section.sobre .descricao-autor{
    margin-top: 30px;
}
section.sobre .container .descricao-autor h1{
    position: relative;
    display: inline-block;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
}
section.sobre .container .descricao-autor p{
    margin-top: 20px;
}
.descricao-autor2{
    margin-top: 50px;
}
.descricao-autor2 .img-small{
    width:30%;
    padding-top: 30%;
    float: left;
    background-image: url('../_imgs/mecanico.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 10px 1px #ccc;
}
.descricao-autor2 p{
    float: left;
    width: 70%;
    line-height: 28px;
    padding-left: 10px;
}
/*************FOOTER RODAPE****************/
footer{
    margin-top: 20px;
    padding: 40px 2%;
    background-color: #252525;
}
footer nav.menu-footer{
    float: left;
}
footer nav.menu-footer ul{
    list-style: none;
}
footer nav.menu-footer ul li{
    float: left;
}
footer nav.menu-footer ul li a{
    text-decoration: none;
    font-size: 19px;
    color: white;
    padding: 0 35px;
    font-style: italic;
}
footer nav.menu-footer ul li a:hover{
    color: #ed3237;
}
footer p{
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}
/************MEDIA QUERYS*******************/

@media screen and (max-width: 768px){
    header nav.desktop{
        display: none;
    }
    header nav.mobile{
        display: block;
    }
    header nav.mobile ul{
        display: none;
    }
    section.banner .text-banner{
        padding: 50px 20px;
    }
    section.banner .text-banner .text-banner-single{
        width: 300px;
        height: 80px;
        padding: 10px 80px;
        color: white;
        font-size: 30px;
        font-style: italic;
        background-image: url(../_imgs/box-text-01.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    section.banner .text-banner .text-banner-single:nth-of-type(2){
        width: 300px;
        position: relative;
        left: 0px;
    }
    section.banner .text-banner .text-banner-single:nth-of-type(3){
        width: 300px;
        position: relative;
        left: 0px;
    }
    section.servicos-descricao .half1 .half1-wraper a{
        display: inline-block;
        width: 100%;
        max-width: 50%;
        position: relative;
        left: -25% ;
        top: -50px;
    }
    section.servicos-descricao {
        flex-direction: column;
    }
    section.servicos-descricao .half1, section.servicos-descricao .half2{
        width: 100%;
    }
    .w50{
        width: 100%;
    }
    .sidebar{
        width: 100%;
        text-align: center;
        float: none;
        
    }
    .search2{
        text-align: left;
        display: inline-block;
    }
    .vitrine-venda{
        float: left;
        text-align: center;
        width: 100%;
    }
    /**********VENDA TESTE***************/
    .info-veiculo{
        width: 100%;
    }
    .descricao-veiculo{
        text-align: center;
    }
    .descricao-veiculo a{
        display: inline-block;
    }
    .descricao-veiculo p{
        max-width: none;
    }
    /************SOBRE************/
    .descricao-autor2 .img-small{
        width: 100%;
        padding-top: 100%;
    }
    .descricao-autor2 p{
        width: 100%;
        margin-top: 30px;  
        line-height: 28px;
    }
    /********FOOTER RODAPE**********/
    footer{
        text-align: center;
    }
    footer nav.menu-footer{
        display: none;
    }
    footer p{
        float: none;
    }
}

@media screen and (max-width: 580px){
    
    .veiculos-destaques .container{
        text-align: center;
    }
    .vitrine-destaque{
        display: inline-block;
        float: none;
        width: 80%;
        margin-top: 20px;
    }
    section.veiculos-destaques .line-titulo h2{
        font-size: 23px;
    }
    .vitrine-destaque .info-carro a{
        display: inline-block;
        width: 150px;
    }
}
@media screen and (max-width: 360px){
    .vitrine-destaque{
        width: 100%;
    }
}