*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSans-Regular";
}
@font-face{
    font-family: "OpenSans-Regular";
    src: url('../_fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face{
    font-family: "OpenSans-SemiBold";
    src: url('../_fonts/OpenSans/OpenSans-Regular.ttf');
}
html, body{
    height: 100%;
}
.clear{
    clear: both;
}
.container{
    width:100%; 
    max-width: 1280px;
    margin: 0 auto;
}
/******Cabeçalho********/
.cabecalho{
    width: 100%;
    height: 100px;
    background-color:#212343;
}
.cabecalho img{
    height: 90px; 
    width: 300px;
}
/*******CONTEUDO**********/
.conteudo-banner > .container{
    height: 100%;
}
.conteudo-banner{
    width: 100%;
    height: 557px;
    padding: 0 2%;
    background-image: url('../_imgs/teclado2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*******Formulario************/
.form{
    width: 400px;
    height: 106%;
    float: right; 
    background-color: white;
    border: 8px solid rgba(120, 120, 120, 0.5);
    position: relative;
    top: -15px; 
    padding: 10px 15px;
    background-clip: padding-box;
    background-color: white;
}
form h1{
    font-size: 25px;
    color: rgb(180, 180, 180);
}
form label{
    display: inline-block;
    width: 100%;
    font-size: 21px;
    margin-top: 10px;
    color: rgb(180, 180, 180);
}
form p{
    font-size: 19px;
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(120, 120, 120);
}
form input{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    height:50px;
    border: 1px solid #ccc;
    font-size: 18px;
    color: rgb(120, 120, 120);
}
form input[type=submit]{
    margin-top: 35px;
    background-color: #363A6D;
    color: white;
    font-size: 25px;
    height: 90%;
    border-bottom: 6px solid #4A5097;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    cursor: pointer;
    font-family: "OpenSans-SemiBold";
}   
form input[type=submit]:hover{
    background-color: #323665;
}
form input[type=text], input[type=email]{
    border-radius: 5px;
}
/*******CONTEUDO A DIREITA*************/
.conteudo-aside{
    width: 100%;
    max-width: 600px;
    height: 250px;
    float: left;
    position: relative;
    top: 120px;
    background-color:  rgba(33, 35, 67, 0.8);
}
.conteudo-aside ul{
    list-style: inside;
    margin-left: 90px;
    margin-top: 30px;
}
.conteudo-aside ul li{
    margin-top: 20px;
    font-size: 22px; 
    color: white;
}
/*CONTEUDO 2*/
.conteudo-2{

    padding: 40px 2%;
    background-color: #DDDDDD;
    text-align: center;
}
.conteudo-2 h2{
    font-weight: normal;
}
.conteudo-2 p{
    width: 100%;
    max-width: 698px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
}
.conteudo-2 .arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url('../_imgs/arrow-icon-1.png');
    background-size: 100% 100%;
}
/*************CONTEUDO 3*******************/
.conteudo-3{
    padding: 90px 0;
}
.conteudo-3 h2{
    text-align: center;
    color: #462663;
    font-weight: normal;
}
.section-container{
    margin-top: 40px;
    text-align: center;
    
}
.single-container{
    float: left;
    width: 33.333%;
    padding: 30px;
}
.img-single img{
    width: 150px;
    height: 100px; 
}
.text-single{
    text-align: justify;
    padding: 10px 25px;
}
.text-single p {
    margin-top: 20px;
    
}
/********FOOTER***********/
footer{
    padding: 15px 2%;
    background-color: #ccc;
    text-align: center;
}
/*******************MEDIAS QUERIES********************/
@media screen and (max-width: 968px){
    .cabecalho .container{
        text-align: center;
    }
    .conteudo-banner{
        background-size: cover;
        text-align: center;
        height: auto;
    }
    .conteudo-banner .form{
        display: inline-block;
        float: none;
        width: 90%;
        height: 100%;
        position: relative;
        top: 0px;
    }
    .conteudo-aside{
        display: none;
        float: none;
    }
    .conteudo-3 h2{
        display: inline-block;
        width: 100%;
        padding: 0 2%; 
    }
    .single-container{
        float: none;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        padding: 30px;
    }

}