*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
@font-face{
    font-family: 'Montserrat';
    src: url('../_fonts/Montserrat/Montserrat-Medium.ttf');
}
html, body{
    height: 100%; 
}
.clear{
    clear: both;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
section h2{
    color: #698293;
    text-align: center;
    font-size: 20px;
}
/********************CABEÇALHO************************/
header{
    padding: 20px 2%;
}
header .logo img{
    float: left;
    width: 300px;
}

/*MENU MOBILE*/
header nav.menu-mobile{
    display: none; 
    float: right;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-top: 20px;
    background-image: url('../_imgs/menu-mobile3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header nav.menu-mobile ul{
    display: none;
    position: absolute;
    top:120px;
    left:0;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index:10;
}
header nav.menu-mobile ul li{
    padding: 10px 0;
    list-style: none;
    text-transform: uppercase;
}
header nav.menu-mobile ul li:hover{
    background-color: rgb(240, 240, 240);
}
/*MENU DESKTOP FIXO*/
header nav.menu-fixo{
    display: inline-block;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
}
header nav.menu-fixo ul{
    float: right;
    list-style: none;
    margin: 15px 90px 0 0; 
}
header nav.menu-fixo ul li{
    float: left;
    padding: 0 20px;
}
header nav.menu-fixo ul li a{
    text-transform: uppercase;
    font-size: 15px;
}
header nav.menu-fixo ul li a:hover{
    text-decoration: underline;
}
/*MENU DESKTOP*/
header nav.menu-desktop{
    float: right;

}
header nav.menu-desktop ul {
    list-style: none;
    padding: 20px 0;
}
header nav.menu-desktop ul li{
    float: left;
    padding: 0 20px;
    font-size: 15px;
    text-transform: uppercase;
}
header nav.menu-desktop ul li a{
    text-decoration: none;
    color: #b4b4b4;
}
header nav.menu-desktop ul li a:hover{
    text-decoration: underline;
}
header nav ul a{
    color: #b4b4b4;
    text-decoration: none;
}
/***************FIM DO CABEÇALHO***********************/

/*********************GALERIA MOSAICO******************/
.mosaico-single{
    float: left;
    width: calc(100% / 6);
}
.img-mosaico-single{
    width: 100%;
    padding-top:100%;
    background-color: #ccc;
    border: 5px solid white;
}
/**************MOSAICO CABEÇALHO**************/
.m1{
    background-image: url('../_imgs/mosaico-1/imagem-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2{
    background-image: url('../_imgs/mosaico-1/imagem-08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m3{
    background-image: url('../_imgs/mosaico-1/imagem-03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m4{
    background-image: url('../_imgs/mosaico-1/imagem-04.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m5{
    background-image: url('../_imgs/mosaico-1/imagem-09.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m6{
    background-image: url('../_imgs/mosaico-1/imagem-06.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m7{
    background-image: url('../_imgs/mosaico-1/imagem-07.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m8{
    background-image: url('../_imgs/mosaico-1/imagem-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m9{
    background-image: url('../_imgs/mosaico-1/imagem-05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m10{
    background-image: url('../_imgs/mosaico-1/imagem-10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m11{
    background-image: url('../_imgs/mosaico-1/imagem-11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m12{
    background-image: url('../_imgs/mosaico-1/imagem-12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/*************FIM DA GALERIA MOSAICO******************/

/******************SERVIÇOS**************************/
section.servico > .container{
    display: flex;
    position: relative;
    top: -30px;
    align-items: center;
    text-align: center;
    max-width: 800px;  
}
section.servico > .container .box-servico h2{
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}
section.servico > .container .box-servico p{
    color: white;
    margin-top: 8px;
    font-size: 12px;
    font-weight: normal;
}

section.servico > .container .box-servico{
    background-image: url('../_imgs/icone-dente-1.png');
    background-position: center calc(100% - 4px);
    background-size: 20px 20px; 
    background-repeat: no-repeat;
}
section.servico > .container .box-servico:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}
section.servico > .container .box-servico:nth-of-type(2){
    width: 40%;
    padding: 45px 2%;
    background-color: #688293;
    background-image: none;
}
section.servico > .container .box-servico:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}
/**************FIM DO SERVIÇOS*******************/
section.perfil-container{
    padding: 40px 0px;
}
/*REESCREVENDO A DIV CONTAINER*/
section.perfil-container .container{
    max-width: 800px;
}
/*DIV PAI*/
section.perfil-container .perfil-wraper{
    padding-top: 70%;
    position: relative;
}
/*DIV FILHA*/
section.perfil-container .perfil-wraper2{
    position: absolute;
    left:0;
    top:0;
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
}
/*DIV IMAGEM*/
section.perfil-container .img-perfil{ 
    width: 40%;
    height: 100%;
    background-image: url('../_imgs/destista-perfil.jpg');
    background-size: 100% 100%;
}
section.perfil-container .texto-perfil{
    width: 60%;
    padding: 0 30px;
}

section.perfil-container .texto-perfil h2{
    color: #698293;
    font-size: 18px;
}
section.perfil-container .texto-perfil p{
    color: #4b4b4b;
    font-size: 14px;
    margin-top:20px;
    text-align: justify;
}
/******************SESSAO 4****************/
section.videos{
    padding: 50px 0;
}
section.videos .div-box{
    position: relative;
    float: left;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);
    border: 5px solid white;
}
section.videos iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
section.tratamentos {
    padding: 50px 0;
}
section.tratamentos .tratamento-container{
    float: left;
    width: 33.3%;
}
section.tratamentos h2{
    color: #698293;
    text-align: center;
    font-size: 20px;
}
section.tratamentos .container{
    padding: 70px 0;
}

section.tratamentos .tratamento-container .tratamento-single{
    padding: 20px;
}
.tratamento-single h2{
    font-size: 18px;
    color: #737373;
}
.tratamento-single p{
    font-size: 13px;
    color: #b4b4b4;
    padding: 20px 0;
}
/*******************SESSAO 5********************/
section.depoimento h2{
    color: #698293;
    text-align: center;
    font-size: 20px;
}
section.depoimento .container{
    padding: 60px 0;
    max-width: 400px;
}
section.depoimento .depoimento-single{
    text-align: center;
    width: 100%;
    padding: 0 2%;
}
section.depoimento quote{
    font-size: 15px;
    color: #b4b4b4;
}
section.depoimento .nome-depoimento{
    padding: 19px 0;
}
section.depoimento .nome-depoimento span{
    font-size: 13px;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: top;
}
/*****************SESSAO 7************************/
section.social .instagram-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #98a5ae;
}
section.social .instagram-chamada img{
    width:50px;
    height: 50px;
}
section.social .instagram-chamada p{
    color: white;
    line-height: 23px;
    padding: 10px 0;
    font-size: 15px;
}
section.social .mosaico-social{
    float: left;
    width: 100%;
}
section.social .mosaico-social .img-mosaico-social{
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    border: 6px solid white;
}
section.social .facebook-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #576975;
}
section.social .facebook-chamada img{
    width:50px;
    height: 50px;
}
section.social .facebook-chamada p{
    color: white;
    line-height: 23px;
    padding: 10px 0;
    font-size: 15px;
}
.m2-01{
    background-image: url('../_imgs/mosaico-2/imagem-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-02{
    background-image: url('../_imgs/mosaico-2/imagem-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-03{
    background-image: url('../_imgs/mosaico-2/imagem-03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-04{
    background-image: url('../_imgs/mosaico-2/imagem-04.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-05{
    background-image: url('../_imgs/mosaico-2/imagem-05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-06{
    background-image: url('../_imgs/mosaico-2/imagem-06.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-07{
    background-image: url('../_imgs/mosaico-2/imagem-07.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-08{
    background-image: url('../_imgs/mosaico-2/imagem-08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.m2-09{
    background-image: url('../_imgs/mosaico-2/imagem-09.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



/***********SESSAO 8 CONTATO**************/
section.contato{
    padding: 60px 2%;
}
section.contato form{
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
}
section.contato .form-wraper{
    float: left;
    padding: 0 10px;
    margin-top: 10px;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
section.contato .form-wraper span{
    font-size: 15px;
    color: #b4b4b4;
}
section.contato .form-wraper input[type=text], input[type=email]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    border: 1px solid #dadada;
    margin-top: 8px;
}
section.contato .form-wraper textarea{
    width: 100%;
    padding: 15px;
    height: 121px;
    margin-top: 8px;
    resize: none;
    border: 1px solid #dadada;
}
section.contato .form-wraper input[type=submit]{
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: #688293;
    color: white;
    cursor: pointer;
    border: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
/*FOOTER RODAPE*/
footer {
    padding: 40px 2%;
    background-color: #688293;
}
footer .container{
    max-width: 1100px;
}
footer .footer-block{
    float:left;
    width: 33.3%;
}
footer .footer-block h2{
    font-size: 20px;
    font-weight: normal;
    color: white;
}
footer .footer-block p{
    margin-top: 8px;
    color: white;
    font-size: 14px;
}
/*SEGUNDO RODAPE*/
footer.rodape2{
    padding: 10px 2%;
    background-color: #576975;
    text-align:  center;
}
footer.rodape2 .container{
    max-width: 1100px;
}
footer.rodape2 p{
    margin-top: 8px;
    color: #ccc;
    font-size: 14px;
} 
/**************MEDIA QUERYS********************/
@media screen and (max-width: 1024px){

    section.social .mosaico-social .img-mosaico-social{
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }
    .mosaico-social > div:nth-of-type(1n+7){/*Começa do 7 e incrementa 1, começa do 7 e vai ate o final de 1 em 1*/
        display: none;
    }

}

@media screen and (max-width: 845px){
    /*Menu desktop*/
    header nav.menu-desktop{
        display: none;
    }
    /*Menu fixo desktop*/
    header nav.menu-fixo{
        display: none;
    }
    /*Menu Mobile*/
    header nav.menu-mobile{
        display: block;
    }
} 
@media screen and (max-width: 768px){

    /*sessao 2*/
    section.servico > .container{
        flex-direction: column-reverse;
    }
    section.perfil-container .perfil-wraper{
        padding-top: 0;
    }
    section.servico > .container .box-servico:nth-of-type(1){
        width:90%;
        max-width: 350px;
        padding:30px 2%;
    }
    section.servico > .container .box-servico:nth-of-type(2){
        width:94%;
        max-width: 380px;
        padding:30px 2%;
    }
    section.servico > .container .box-servico:nth-of-type(3){
        width:90%;
        max-width: 350px;
        padding:30px 2%;
    }
    /*Texto sessao 3*/
    section.perfil-container .perfil-wraper2{
         display: inline-block;
         text-align: center;
         position: static;
         height: auto;
    }
    section.perfil-container .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: auto;
    }
    section.perfil-container .texto-perfil{
        display: inline-block;
        text-align: justify;
        width: 94%;
        padding: 0 50px;
        margin-top: 30px;
    }
    section.videos {
        text-align: center;
    }
    section.videos .div-box{
        float: none;
        display: inline-block;
        width: 70%;
        padding-top: calc(70% * 0.6);
    }
    /*SESSAO 7*/
    section.social .mosaico-social .img-mosaico-social{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }
    .mosaico-social > div:nth-of-type(1n+4){
        display: none;
    }
    footer{
        text-align: center;
    }
    footer .footer-block{
        float: none;
        width: 100%;
        margin: 30px 0;
    }

}

@media screen and (max-width: 580px){
    section.perfil-container .img-perfil{
        width: 80%;
        padding-top: 110%;
    }
    section.videos .div-box{
        width: 100%;
        padding-top: calc(100% * 0.6);
    }
    .w50{
        width: 100%;
    }
}

@media screen and(max-width: 480px){
    header.logo img{
        display: inline-block;
        width: 100%;
        text-align: center;
        float: none;
    }
}